@font-face {
  font-family: "Vazirmatn";
  src: url("../public/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../public/fonts/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../public/fonts/Vazirmatn-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pinar";
  src: url("../public/fonts/Epic\ Pinar-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pinar";
  src: url("../public/fonts/Epic\ Pinar-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pinar";
  src: url("../public/fonts/Epic\ Pinar-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
