@import "./fonts.css";
@import "tailwindcss";

@theme {
  --variant-dark: .dark &;
  /* --variant-light: &: not(.dark) &; */

  --color-brown-100: #ece0d1;
  --color-brown-300: #dbc1ac;
  --color-brown-600: #967259;
  --color-brown-900: #634832;

  --shadow-soft: 0 1px 10px 0 rgba(0, 0, 0, 0.05);

  --radius-md: 6px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;

  --color-line-gray-100: #f3f4f6;
  --color-line-gray-300: #d1d5db;
  --color-line-orange: #fed7aa;
  --color-line-white-10: rgba(255, 255, 255, 0.1);

  --font-dana: "Dana", sans-serif;
  --font-morabba: "Morabba", sans-serif;
}
/* @layer base {
  body {
    @apply font-dana;
  }
} */
